{{define "header-bar"}}
    <header class="site-header">
        <div class="site-header-inner">
            <a class="site-header-brand" href="{{if .TopNavHref}}{{.TopNavHref}}{{else}}/{{end}}">Go REST Template</a>
        </div>
    </header>
{{end}}
